*{
    padding:0px;
    margin: 0px;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover{
    text-decoration: underline;
}

.navbar-menu-toggle{
    display: none;
}

/*side navbar*/

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding:20px;
    color:white;
    transition: 2s;
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

/*header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;

}

.service{
    padding: 20px;
}

.service-container-1{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.service-container-2{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
}

.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container{
    position:relative;
    flex-basis: 20%;
}

.new-arrival-button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 60%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
}

.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-section input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.product-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box img{
    border-radius: 10px;
}

.contact-container{
    position: relative;
    background-color: #1D232C;
    color: #F2F4F7;
    display: block;
    margin-top: 10px;
    width: 70%;
    height: 100%;
    padding: 40px;
    border-radius: 10px;
    top:20%;
    left:10%;
}

.contact-container-box input{
    position: relative;
    background-color: white;
    color: #F2F4F7;
    display: block;
    margin-top: 10px;
    width: 90%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    top:20%;
    left:0%;
}
.contact-container-box textarea{
    position: relative;
    background-color: white;
    color: #F2F4F7;
    display: block;
    margin-top: 10px;
    width: 85%;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    top:20%;
    left:0%;
}

.contact-container-box button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: rgb(90, 90, 207);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

/*Media Query*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }

    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
        
    }

    .service-container-2{
        flex-direction: column;
    }

}